services:
  # Redis
  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Auth User Service
  auth-user-service:
    image: akashcapro/codex-auth-user-service:latest
    container_name: auth-user-service
    environment:
      AUTH_USER_SERVICE_DATABASE_URL: ${AUTH_USER_SERVICE_DATABASE_URL}
      AUTH_USER_SERVICE_DIRECT_URL: ${AUTH_USER_SERVICE_DIRECT_URL}
      JWT_ACCESS_TOKEN_SECRET: ${JWT_ACCESS_TOKEN_SECRET}
      JWT_REFRESH_TOKEN_SECRET: ${JWT_REFRESH_TOKEN_SECRET}
      JWT_ACCESS_TOKEN_EXPIRY: ${JWT_ACCESS_TOKEN_EXPIRY}
      JWT_REFRESH_TOKEN_EXPIRY: ${JWT_REFRESH_TOKEN_EXPIRY}
      NODEMAILER_EMAIL: ${NODEMAILER_EMAIL}
      NODEMAILER_PASS: ${NODEMAILER_PASS}
      AUTH_USER_SERVICE_METRICS_PORT: ${AUTH_USER_SERVICE_METRICS_PORT}
      REDIS_URL: ${REDIS_URL}
      GRPC_AUTH_USER_SERVICE_SERVER_URL: ${GRPC_AUTH_USER_SERVICE_SERVER_URL}
      NODEMAILER_SERVICE: ${NODEMAILER_SERVICE}
      OTP_EXPIRY_SECONDS: ${OTP_EXPIRY_SECONDS}
      PROFILE_CACHE_EXPIRY: ${PROFILE_CACHE_EXPIRY}
      BLOCKED_USER_CACHE_EXPIRY: ${BLOCKED_USER_CACHE_EXPIRY}
      OTEL_SERVICE_NAME: "auth-user-service"
      DEFAULT_GRPC_TIMEOUT: ${DEFAULT_GRPC_TIMEOUT}
      GRPC_PROBLEM_SERVICE_URL: ${GRPC_PROBLEM_SERVICE_URL}
    ports:
      - "9101:9101"
      - "50051:50051"
    networks:
      - app-network
    depends_on:
      - redis

  # Gateway service
  gateway-service:
    image: akashcapro/codex-gateway-service:latest
    container_name: gateway-service
    environment:
      SERVICE_NAME: GATEWAY_SERVICE
      JWT_ACCESS_TOKEN_SECRET: ${JWT_ACCESS_TOKEN_SECRET}
      JWT_REFRESH_TOKEN_SECRET: ${JWT_REFRESH_TOKEN_SECRET}
      JWT_ACCESS_TOKEN_EXPIRY: ${JWT_ACCESS_TOKEN_EXPIRY}
      JWT_REFRESH_TOKEN_EXPIRY: ${JWT_REFRESH_TOKEN_EXPIRY}
      GATEWAY_SERVICE_PORT: ${GATEWAY_SERVICE_PORT}
      REDIS_URL: ${REDIS_URL}
      CLIENT_URL_1: ${CLIENT_URL_1}
      CLIENT_URL_2: ${CLIENT_URL_2}
      GRPC_AUTH_USER_SERVICE_URL: ${GRPC_AUTH_USER_SERVICE_URL}
      GRPC_PROBLEM_SERVICE_URL: ${GRPC_PROBLEM_SERVICE_URL}
      GRPC_CODE_MANAGE_SERVICE_URL: ${GRPC_CODE_MANAGE_SERVICE_URL}
      GRPC_COLLAB_SERVICE_URL: ${GRPC_COLLAB_SERVICE_URL}
      DEFAULT_GRPC_TIMEOUT: ${DEFAULT_GRPC_TIMEOUT}
      GATEWAY_SERVICE_METRICS_PORT: ${GATEWAY_SERVICE_METRICS_PORT}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
      CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
      CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
      METRICS_URL: ${METRICS_URL}
      OTEL_SERVICE_NAME: "gateway-service"
      NODE_ENV: ${development}
    ports:
      - "4000:4000"
      - "9100:9100"
    networks:
      - app-network
    depends_on:
      - redis
      - auth-user-service
      - problem-service

  #problem-service
  problem-service:
    image: akashcapro/codex-problem-service:latest
    container_name: problem-service
    environment:
      PROBLEM_SERVICE_DATABASE_URL: ${PROBLEM_SERVICE_DATABASE_URL}
      PROBLEM_SERVICE_METRICS_PORT: ${PROBLEM_SERVICE_METRICS_PORT}
      REDIS_URL: ${REDIS_URL}
      PROBLEM_DETAILS_CACHE_EXPIRY: ${PROBLEM_DETAILS_CACHE_EXPIRY}
      GRPC_PROBLEM_SERVICE_SERVER_URL: ${GRPC_PROBLEM_SERVICE_SERVER_URL}
      GRPC_AUTH_USER_SERVICE_URL: ${GRPC_AUTH_USER_SERVICE_URL}
      OTEL_SERVICE_NAME: "problem-service"
      DEFAULT_GRPC_TIMEOUT: ${DEFAULT_GRPC_TIMEOUT}
      GEMINI_API_KEY: ${GEMINI_API_KEY}

    ports:
      - "9102:9102"
      - "50052:50052"
    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy


  collab-service:
    image: akashcapro/codex-collab-service:latest
    container_name: codex-collab-service
    restart: always

    ports:
      - "50054:50054"  
      - "5001:5001"     

    environment:
      JWT_INVITE_TOKEN_EXPIRY: ${JWT_INVITE_TOKEN_EXPIRY}
      COLLAB_SERVICE_DATABASE_URL: ${COLLAB_SERVICE_DATABASE_URL}
      JWT_INVITE_TOKEN_SECRET: ${JWT_INVITE_TOKEN_SECRET}
      SOCKET_MAP_CACHE_EXPIRY: "3600"
      GRPC_COLLAB_SERVICE_URL: "0.0.0.0:50054"
      TOKEN_NAME: ${TOKEN_NAME}
      REDIS_URL: ${REDIS_URL}
      CLIENT_URL_1: ${CLIENT_URL_1}
      CLIENT_URL_2: ${CLIENT_URL_2}
      KAFKA_COLLAB_SERVICE_CLIENT_ID: ${KAFKA_COLLAB_SERVICE_CLIENT_ID}
      KAFKA_BROKERS: ${KAFKA_BROKERS}
      KAFKA_MAX_RETRIES: ${KAFKA_MAX_RETRIES}
      KAFKA_RETRY_QUEUE_CAP: ${KAFKA_RETRY_QUEUE_CAP}
      PODNAME: ${PODNAME}
      SOCKET_PORT: ${SOCKET_PORT}
      SNAPSHOT_TTL_SECONDS: ${SNAPSHOT_TTL_SECONDS}  

    networks:
      - app-network
    depends_on:
      redis:
        condition: service_healthy


  #code-manage-service
  code-manage-service:
    image: akashcapro/codex-code-manage-service:latest
    container_name: code-manage-service
    environment:
      CODE_MANAGE_SERVICE_METRICS_PORT: ${CODE_MANAGE_SERVICE_METRICS_PORT}
      REDIS_URL: ${REDIS_URL}
      SUBMISSION_DETAILS_CACHE_EXPIRY: ${SUBMISSION_DETAILS_CACHE_EXPIRY}
      RUN_CODE_DETAILS_CACHE_EXPIRY: ${RUN_CODE_DETAILS_CACHE_EXPIRY}
      PROBLEM_DETAILS_CACHE_EXPIRY: ${PROBLEM_DETAILS_CACHE_EXPIRY}
      GRPC_CODE_MANAGE_SERVICE_SERVER_URL: ${GRPC_CODE_MANAGE_SERVICE_SERVER_URL}
      GRPC_PROBLEM_SERVICE_URL: ${GRPC_PROBLEM_SERVICE_URL}
      DEFAULT_GRPC_TIMEOUT: ${DEFAULT_GRPC_TIMEOUT}
      KAFKA_IDEMPOTENCY_KEY_EXPIRY: ${KAFKA_IDEMPOTENCY_KEY_EXPIRY}
      KAFKA_CODE_MANAGE_SERVICE_CLIENT_ID: ${KAFKA_CODE_MANAGE_SERVICE_CLIENT_ID}
      KAFKA_BROKERS: ${KAFKA_BROKERS}
      KAFKA_CODE_MANAGE_SERVICE_GROUP_ID: ${KAFKA_CODE_MANAGE_SERVICE_GROUP_ID}
      KAFKA_MAX_RETRIES: ${KAFKA_MAX_RETRIES}
      KAFKA_RETRY_QUEUE_CAP: ${KAFKA_RETRY_QUEUE_CAP}
      OTEL_SERVICE_NAME: "code-manage-service"
    ports:
      - "9103:9103"
      - "50053:50053"
    networks:
      - app-network
    depends_on:
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy

  #code-execution-service
  code-execution-service:
    image: akashcapro/codex-code-execution-service-compose:latest
    container_name: code-execution-service
    environment:
      CODE_EXECUTION_SERVICE_METRICS_PORT: ${CODE_EXECUTION_SERVICE_METRICS_PORT}
      REDIS_URL: ${REDIS_URL}
      KAFKA_IDEMPOTENCY_KEY_EXPIRY: ${KAFKA_IDEMPOTENCY_KEY_EXPIRY}
      KAFKA_CODE_EXECUTION_SERVICE_CLIENT_ID: ${KAFKA_CODE_EXECUTION_SERVICE_CLIENT_ID}
      KAFKA_BROKERS: ${KAFKA_BROKERS}
      KAFKA_CODE_EXECUTION_SERVICE_GROUP_ID: ${KAFKA_CODE_EXECUTION_SERVICE_GROUP_ID}
      KAFKA_MAX_RETRIES: ${KAFKA_MAX_RETRIES}
      KAFKA_RETRY_QUEUE_CAP: ${KAFKA_RETRY_QUEUE_CAP}
      WORKER_IMAGE_NAME: ${WORKER_IMAGE_NAME}
      EXECUTION_TIMEOUT: ${EXECUTION_TIMEOUT}
      MAX_OUTPUT_LENGTH: ${MAX_OUTPUT_LENGTH}
      CONTAINER_POOL_SIZE: ${CONTAINER_POOL_SIZE}
      DOCKER_LOCAL: ${DOCKER_LOCAL}
      OTEL_SERVICE_NAME: "code-execution-service"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "9104:9104"
    networks:
      - app-network
    depends_on:
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
  
  #kafka
  kafka:
    image: apache/kafka:3.7.0
    container_name: kafka-local
    hostname: kafka
    networks:
      - app-network

    ports:
      - "9092:9092"
      - "9093:9093"

    environment:
      KAFKA_NODE_ID: "1"
      KAFKA_CLUSTER_ID: "cluster-1"

    # matching the Kubernetes command script
    command:
      - /bin/sh
      - -c
      - |
        set -e

        cat <<EOF > /opt/kafka/config/kraft/server.properties
        process.roles=broker,controller
        node.id=1
        controller.quorum.voters=1@kafka:9093
        controller.listener.names=CONTROLLER

        listeners=INTERNAL://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
        advertised.listeners=INTERNAL://kafka:9092

        listener.security.protocol.map=INTERNAL:PLAINTEXT,CONTROLLER:PLAINTEXT
        inter.broker.listener.name=INTERNAL

        num.partitions=3
        offsets.topic.replication.factor=1
        transaction.state.log.replication.factor=1
        transaction.state.log.min.isr=1

        log.retention.hours=1
        log.retention.bytes=134217728
        log.segment.bytes=67108864
        log.cleaner.enable=true

        log.dirs=/tmp/kraft-combined-logs
        EOF

        echo "Formatting storage..."
        /opt/kafka/bin/kafka-storage.sh format \
          --ignore-formatted \
          --cluster-id=$(/opt/kafka/bin/kafka-storage.sh random-uuid) \
          --config /opt/kafka/config/kraft/server.properties

        echo "Starting Kafka..."
        exec /opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/kraft/server.properties

    deploy:
      resources:
        limits:
          cpus: "0.2"
          memory: "384M"
        reservations:
          cpus: "0.05"
          memory: "128M"

    # Required so other services can depend_on: kafka: service_healthy
    healthcheck:
      test: ["CMD", "bash", "-c", "kafka-broker-api-versions.sh --bootstrap-server kafka:9092 > /dev/null 2>&1"]
      interval: 10s
      timeout: 5s
      retries: 10

  #kafka-ui
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: ${KAFKA_CLUSTERS_0_NAME}
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: ${KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS}
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
