mode: deployment

image:
  repository: otel/opentelemetry-collector-contrib
  tag: "0.114.0"
  pullPolicy: IfNotPresent

presets:
  kubernetesAttributes:
    enabled: true

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318

  processors:
    batch:
      timeout: 10s
      send_batch_size: 1024
    memory_limiter:
      check_interval: 1s
      limit_percentage: 75
      spike_limit_percentage: 25
    probabilistic_sampler:
      hash_seed: 22
      sampling_percentage: 25

  exporters:
    otlp/tempo:
      endpoint: tempo.observability.svc.cluster.local:4317
      tls:
        insecure: true
    prometheus:
      endpoint: "0.0.0.0:9464"
      namespace: "otel"
    debug:
      verbosity: detailed

  extensions:
    health_check:
      endpoint: 0.0.0.0:13133

  service:
    extensions: [health_check]
    pipelines:
      traces:
        receivers: [otlp]
        processors: [memory_limiter, batch, probabilistic_sampler]
        exporters: [otlp/tempo, debug]
      metrics:
        receivers: [otlp]
        processors: [memory_limiter, batch]
        exporters: [prometheus, debug]

ports:
  otlp:
    enabled: true
    containerPort: 4317
    servicePort: 4317
    hostPort: 4317
    protocol: TCP
    appProtocol: grpc
  otlp-http:
    enabled: true
    containerPort: 4318
    servicePort: 4318
    protocol: TCP
  metrics:
    enabled: true
    containerPort: 9464
    servicePort: 9464
    protocol: TCP

resources:
  limits:
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi